---
// React bits
import Layout from '../layouts/Layout.astro'
import LaserFlow from '../components/LaserFlow.jsx'
import ScrollVelocity from '../components/ScrollVelocity.jsx'
import BlurText from '../components/BlurText.jsx'
import MagicBento from '../components/MagicBento.jsx'
import CircularGallery from '../components/CircularGallery.jsx'
---

<Layout>
  <div class='flex justify-center w-full py-12'>
    <h1 class='font-heading text-6xl text-primary text-center'>
      <BlurText
        text='The Gym Bros Community'
        delay={200}
        animateBy='words'
        direction='top'
        className='text-6xl text-primary text-center'
        client:only='react'
      />
    </h1>
  </div>

  <div style={{ width: '100vw', height: '80vh', position: 'relative' }}>
    <LaserFlow
      color='#ca3500'
      flowSpeed={0.84}
      verticalSizing={5}
      horizontalSizing={1.6}
      fogIntensity={0.55}
      fogScale={0.6}
      wispSpeed={15}
      wispIntensity={5}
      flowStrength={0.13}
      decay={1.1}
      horizontalBeamOffset={0.15}
      verticalBeamOffset={-0.5}
      transparent={true}
      client:only='react'
    />
  </div>

  <div class='text-primary mt-20'>
    <ScrollVelocity
      texts={['Próximamente', 'Coming Soon']}
      velocity={80}
      className='custom-scroll-text py-2'
      client:only='react'
    />
  </div>

  <div style={{ height: '600px', position: 'relative' }}>
    <CircularGallery
      bend={3}
      textColor='#ffffff'
      borderRadius={0.05}
      scrollEase={0.02}
      bend={1}
      borderRadius={0.05}
      scrollSpeed={2}
      scrollEase={0.05}
      client:only='react'
    />
  </div>

  <div class='mt-20 w-full flex justify-center'>
    <MagicBento
      textAutoHide={true}
      enableStars
      enableSpotlight
      enableBorderGlow={true}
      enableTilt={false}
      enableMagnetism={false}
      clickEffect
      spotlightRadius={400}
      particleCount={12}
      glowColor='202, 53, 0'
      disableAnimations={false}
      client:only='react'
    />
  </div>
</Layout>
