---
import '../styles/global.css'
import StaggeredMenu from '../components/StaggeredMenu'

const menuItems = [
  { label: 'Home', ariaLabel: 'Go to home page', link: '/' },
  { label: 'About', ariaLabel: 'Learn about us', link: '/about' },
  { label: 'Services', ariaLabel: 'View our services', link: '/services' },
  { label: 'Contact', ariaLabel: 'Get in touch', link: '/contact' },
]

const socialItems = [
  { label: 'Twitter', link: 'https://twitter.com' },
  { label: 'GitHub', link: 'https://github.com' },
  { label: 'LinkedIn', link: 'https://linkedin.com' },
]
---

<!doctype html>
<html
  lang='en'
  data-theme='halloween'
>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <link
      rel='icon'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro Basics</title>
  </head>
  <body class='bg-[#060010]'>
    <div style={{ position: 'fixed', top: 0, right: 0, zIndex: 50 }}>
      <StaggeredMenu
        position='right'
        items={menuItems}
        socialItems={socialItems}
        displaySocials
        displayItemNumbering={true}
        menuButtonColor='#ffffff'
        openMenuButtonColor='#fff'
        changeMenuColorOnOpen={true}
        colors={['#ff5a00', '#ca3500']}
        logoUrl='/path-to-your-logo.svg'
        accentColor='#ca3500'
        isFixed={true}
        onMenuOpen={() => console.log('Menu opened')}
        onMenuClose={() => console.log('Menu closed')}
        client:only='react'
      />
    </div>

    <slot />
  </body>
</html>
